*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
}

.innerDiv{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    height: 500px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 30px;
    border-style: outset;
    border-color: #3FA2F6;

}

input{
    width: 250px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid #3FA2F6;
    outline: none;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    flex-wrap: wrap;
}

.my_btn{
    height: 35px;
    width: 150px;
    background-color: #3FA2F6;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .my_btn1{
    height: 40px;
    width: 200px;
    background-color: #3FA2F6;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
  }

  .heading_Sign > h1{
    color: #3FA2F6;
    padding-top: 0px;
    font-size: 25px;
    padding-top: 5px;
    /* padding-bottom: 5px; */
  }
  